<div class="container">
  <div class="page-header mt-5" id="banner">
    <div class="row">
      <%= render 'shared/success_messages' %>
    </div>
    <p class="stile-news">
      <strong>Skypeちゃんねるだよｗへようこそ！</strong><br>
      ここはSkypeやLINEなど、<br>
      ネットの友だちが見つかる掲示板です。<br>
      あらゆる検索できるようになっているので、過去の投稿もぜひ探してみてください。<br>
      ※<%= link_to '利用前に必ず規約をご確認ください', pages_agreement_path %>
    </p>
    <div class="d-grid gap-2 col-xs-12 col-md-6 mt-3 mx-auto">
      <%= link_to new_post_path, {class: "btn btn-primary"} , target: "_blank" do %>
        <%= image_tag 'post_new_icon.png',size: '17x18', style: "padding-bottom: 2px;" %>投稿する
      <% end %>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-6">
        <h1 style="margin-bottom: 0px;">投稿一覧</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <% @posts.each do |user| %>
      <% if user.service_type == 'skype' %>
        <div class="col-md-4">
          <div class="<%= 'card border-primary h-100' if user.display_color == 'pink' %>
                    <%= 'card border-info h-100' if user.display_color == 'blue' %>
                    <%= 'card border-light h-100' if user.display_color == 'green' %>">
            <div class="card-header">
              <a class="text-decoration-none" href="<%= "skype:#{user.service_id}?chat"%>">
                <%= image_tag 'sk_icon.png',size: '24x24' %>
                <%=user.service_id.truncate(19,omission:"...")%>
              </a>
              <button type="button" class="btn btn-outline-secondary btn-sm id-copy" value="<%=user.service_id%>">ID コピー</button>
            </div>
            <div class="badge bg-secondary" style="background-color: rgba(255, 255, 255, 0.4); border-radius: 0rem;">
              <span style="float: left; padding-left: 5px;"><%=user.view_count%> View</span>
              <span style="float: right; padding-right: 5px;">
                <% if Time.now - user.created_at < 30%>
                  たった今
                <% elsif Time.now - user.created_at < 60%>
                  <%=(Time.now - user.created_at).round  %>秒前
                <% elsif Time.now - user.created_at < 3600%>
                  <%=((Time.now - user.created_at)/60).round  %>分前
                <% elsif  Time.now - user.created_at < 86400%>
                  <%=((Time.now - user.created_at)/3600).round  %>時間前
                <% else %>
                  <%=user.created_at.strftime('%-m月%-d日')%>
                <%end%>
              </span>
            </div>
            <div class="card-body pt-1">
              <div class="content-body cp_container">
                <p><%= link_to (user.text).truncate(160,omission:"........"), user, {class: "text-decoration-none"} %> </p>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <div class="col-md-4">
          <div class="<%= 'card border-primary h-100' if user.display_color == 'pink' %>
                    <%= 'card border-info h-100' if user.display_color == 'blue' %>
                    <%= 'card border-light h-100' if user.display_color == 'green' %>">
            <div class="card-header">
              <a class="text-decoration-none" href="<%= user.service_url %>">
                <%= image_tag 'line_icon.png',size: '24x24' %>
                <%=user.service_url.truncate(19,omission:"...") if user.service_url?%>
              </a>
              <button type="button" class="btn btn-outline-secondary btn-sm id-copy" value="<%=user.service_url%>">ID コピー</button>
            </div>
            <div class="badge bg-secondary" style="background-color: rgba(255, 255, 255, 0.4); border-radius: 0rem;">
              <span style="float: left; padding-left: 5px;"><%=user.view_count%> View</span>
              <span style="float: right; padding-right: 5px;">
                <% if Time.now - user.created_at < 30%>
                  たった今
                <% elsif Time.now - user.created_at < 60%>
                  <%=(Time.now - user.created_at).round  %>秒前
                <% elsif Time.now - user.created_at < 3600%>
                  <%=((Time.now - user.created_at)/60).round  %>分前
                <% elsif  Time.now - user.created_at < 86400%>
                  <%=((Time.now - user.created_at)/3600).round  %>時間前
                <% else %>
                  <%=user.created_at.strftime('%-m月%-d日')%>
                <%end%>
              </span>
            </div>
            <div class="card-body pt-1">
              <div class="content-body cp_container">
                <p><%= link_to (user.text).truncate(160,omission:"........"), user, {class: "text-decoration-none"} %> </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= paginate @posts %>
</div>
