<div class="container">
  <div class="page-header mt-5" id="banner">
    <div class="row">
      <%= render 'shared/error_messages' %>
      <div class="col-lg-8 col-md-7 col-sm-6">
        <h1>投稿</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <% if @post.service_type == 'skype' %>
      <div class="col-md-4">
        <div class="<%= 'card border-primary h-100' if @post.display_color == 'pink' %>
                    <%= 'card border-info h-100' if @post.display_color == 'blue' %>
                    <%= 'card border-light h-100' if @post.display_color == 'green' %>">
          <div class="card-header">
            <a class="text-decoration-none" href="<%= "skype:#{@post.service_id}?chat"%>">
              <%= image_tag 'sk_icon.png',size: '24x24' %>
              <%=@post.service_id.truncate(26,omission:"...")%>
            </a>
            <button type="button" class="btn btn-outline-secondary btn-sm id-copy" value="<%=@post.service_id%>">ID コピー</button>
          </div>
          <div class="card-body">
            <div class="content-body">
              <p><%=simple_format(@post.text)%> </p>
            </div>
          </div>
        </div>
        <%= link_to 'このユーザーを検索', search_posts_url(:id => @post.service_id), {class: "nav-link "} %>
      </div>
      <div class="col-md-5 p-5">
        <%= form_with model: @post, method: :delete do |form| %>
          <div class="form-group p-1">
            <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
            <div class="input-group mb-3">
              <%= form.text_field :password, class: "form-control", value:"", placeholder: "空白の場合は[1234]に自動設定" %>
              <%= form.submit "削除", class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="col-md-4">
        <div class="<%= 'card border-primary h-100' if @post.display_color == 'pink' %>
                    <%= 'card border-info h-100' if @post.display_color == 'blue' %>
                    <%= 'card border-light h-100' if @post.display_color == 'green' %>">
          <div class="card-header">
            <a class="text-decoration-none" href="<%= @post.service_url %>">
              <%= image_tag 'line_icon.png',size: '24x24' %>
              <%=@post.service_url.truncate(26,omission:"...") if @post.service_url?%>
            </a>
            <button type="button" class="btn btn-outline-secondary btn-sm id-copy" value="<%=@post.service_url%>">リンク コピー</button>
          </div>
          <div class="card-body">
            <div class="content-body">
              <p><%=simple_format(@post.text)%> </p>
            </div>
          </div>
        </div>
        <%= link_to 'このユーザーを検索', search_posts_url(:id => @post.service_url), {class: "nav-link "} %>
      </div>
      <div class="col-md-5 p-5">
        <%= form_with model: @post, method: :delete do |form| %>
          <div class="form-group p-1">
            <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
            <div class="input-group mb-3">
              <%= form.text_field :password, class: "form-control", value:"", placeholder: "空白の場合は[1234]に自動設定" %>
              <%= form.submit "削除", class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
