<footer id="footer">
  <div class="container">
    <div class="col mt-3" style="text-align:center;">
      <ul class="list-unstyled" >
        <br>
        <%= link_to new_post_path, {class: "btn"}, target: "_blank" do %>
          <%= image_tag 'post_new_icon.png',size: '18x18', class: "" %>
        <% end %>
        <a href="#top"><%= image_tag 'top_icon.png',size: '18x18', class: "" %></a>
        <%= link_to search_posts_path, {class: "btn"}, target: "_blank" do %>
          <%= image_tag 'search_icon.png',size: '18x18', class: "" %>
        <% end %>
      </ul>
      ┬Е 2022- YN inc.
      <p>SkypeсЂАсѓЃсѓЊсЂГсѓІсЂасѓѕ№йЌсЂФТј▓У╝ЅсЂЋсѓїсЂдсЂёсѓІтЁесЂдсЂ«ТЃЁта▒сѓњуёАТќГсЂДУцЄУБйсЂЎсѓІсЂЊсЂесѓњудЂсЂўсЂЙсЂЎ</a><br>
      сѓхсѓцсЃѕсЂФжќбсЂЎсѓІсЂћТЈљТАѕсЂ» Skype :<a href="skype:live:.cid.2331f6b775635cec?chat">сЂЊсЂЊ</a> сЂИсЂЕсЂєсЂъ</p>­ЪцД	<br>
  </div>
  <br>
</div>
</footer>
